{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
<body >


    <div class="container">
    <div class="row"  style="padding-left: 50px">
        <div id="listing_title_div" class="col-3" style="font-size:23px;margin-left: -50px;font-weight: 500;color: #065834">
            {{ listing.property_title }}        </div>
        <div class="col-2">
            <button style="font-size: 16px;background-color: #065834;cursor: pointer;color: white;line-height: 14pt;;width: 250px" data-bs-toggle="modal" data-bs-target="#contactModal">CLICK TO CONTACT AGENT TODAY!</button>
        </div>

    </div>
<br>

   <div class="row" >
    {% for img in image_urls %}
        <div class="col-md-3 mb-3">
            <img style="height: 260px;width: 100%" src="../media/{{ img }}" alt="image">
        </div>
    {% endfor %}
    
</div>


 <br><br>
    <div class="row" style="padding-left: 2px" >

        <div class="col-3"  >
            <div class="row">
                <button style="width: 250px">TYPE - {{ listing.property_type }}</button>
            </div>
            <br>
            <div class="row">
            <button style="width: 250px;" >ADDRESS - {{ listing.property_address }}</button>



 </div>
        </div>
     <div class="col-3" >
                <button style="width: 250px">NEIGHBORHOOD - {{ listing.property_neighborhood }}</button>
          <button style="width: 250px;margin-top: 35px">STATUS - {{ listing.property_status }}</button>
        </div>
        <div class="col-3">
                <button>PRICE - ${{ listing.property_price }}</button>
        </div>

{% if user.is_authenticated %}
        <div class="col" style="margin-left: 87%;margin-top: -12%">
        <a href="/admin/listings/property/{{ listing.id }}/delete/" class="deletelink" onclick="return confirm('Are you sure you want to delete?')">

            <button style="margin-left: 0;cursor: pointer;height: 38px;width: 170px">REMOVE</button></a>
            <br>  <br>
                <button id="addAsFeaturedButton{{ listing.id }}" class="featured-button" onclick="addAsFeatured('{{ listing.id }}')" style="height: 38px;cursor: pointer;width: 170px" >ADD AS FEATURED</button>
            <BR><BR>
             <button  onclick="changeStatus('{{ listing.id }}')" style="height: 38px;cursor: pointer;width: 170px" >CHANGE STATUS</button>
        </div>
            </div>
        </div>
    {% endif %}

{% if alert == True %}
    <div class="alert alert-success" role="alert">
        {% bs_icon 'envelope' %}    Your message got successfully send to your agent Madison! You will get a reply soon!
    </div>
{% elif alert == False %}
    <div class="alert alert-danger" role="alert">
        Something went wrong! Try it again!
    </div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Form</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method = "post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Send message</button>
                </div>
            </form>
        </div>
    </div>
</div>


  </body>
   <style>
       .row>*{
       padding-left: 0;
       padding-right: 0;
   }
       .row button{
            font-size: 16px;background-color: black;color: white;width: 200px;font-family: sans-serif;
            cursor: auto;
       }
   </style>

<script>

    function changeStatus(listingId) {
        // AJAX request to change the status
        fetch(`/listing/${listingId}/change_status/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if needed
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response, e.g., show a success message
            console.log(data);

            // Reload the page after the button is clicked
            location.reload();
        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
        });
    }
function addAsFeatured(listingId) {
        // AJAX request to add the listing as featured and remove feature from others
        fetch(`/listing/${listingId}/add_as_featured/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if needed
            },
            body: JSON.stringify({}),
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response, e.g., show a success message
            console.log(data);

            // Remove feature status from all other properties
            const allPropertyButtons = document.querySelectorAll('.featured-button');
            allPropertyButtons.forEach(button => {
                button.style.backgroundColor = '';  // Reset the button style
            });

            // Set the feature status for the clicked property
            const clickedPropertyButton = document.querySelector(`#addAsFeaturedButton${listingId}`);
            clickedPropertyButton.style.backgroundColor = 'green';  // Adjust the style accordingly
        })
        .catch(error => {
            // Handle errors
            console.error('Error:', error);
        });
    }
</script>
{% endblock %}